@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F0F0F0;
}

.list-item {
  position: relative;
  color: rgb(249 115 22);
  overflow: hidden;
  padding: 1rem 1rem;
  transition: color 0.3s;
  background-color: transparent;
  z-index: 1;
}

.list-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249 115 22);
  transition: transform 0.3s;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: -1;
  /* Ensure the pseudo-element is behind the text */
}

.list-item:hover::before {
  transform: scaleY(1);
}

.list-item:hover {
  color: white;
  cursor: pointer;
}

/* .select-register {
  border: 1px solid rgb(249 115 22);
  border-radius: 2px;
  
} */

.homeBody {
  background-image: url(./images/6237050.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 480px) {
  .homeBody {
    background-image: none !important;
    background-color: transparent;
  }

  .loginContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .loginComponent {
    width: 400px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .homeBody {
    background-image: none !important;
    background-color: transparent;
  }

  .loginContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .loginComponent {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .homeBody {
    background-position: top left;
  }

  .loginContainer {
    position: fixed;
    right: 100px;
    top: 180px;
  }

  .loginComponent {
    width: 500px;
  }
}
